@import '@alfalab/core-components/vars/typography.css';
@import '@alfalab/core-components-themes/button/corp.css';

html, body {
  margin: 0;
  background: var(--color-light-base-bg-alt-primary);
}

body {
  font-family: var(--font-family-system);
}
